version: '3.9'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      # Override DATABASE_URL to connect to the host machine's MySQL
      - DATABASE_URL=mysql://root:1212@host.docker.internal:3306/twara_neza
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
